---
layout: default
---
<div id="page">
  {% include header.html %}
  {% include intro.html %}
  <div id="main" class="container clear">
    <div class="home">
      <div class="span-21">
        <div id="left_content">

          {% for post in site.posts limit:5 %}
              <div class="news_item">
                <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
                {{ post.excerpt }}

                <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
                <span class="date">
                  {% if post.authors %}
                    由 {% for author in post.authors %}
                        <!--
                          Reference: https://shopify.github.io/liquid/tags/iteration/
                          使用forloop object
                         -->
                        {% if forloop.last %}
                            {{ author }}
                        {% else %}
                            {{ author }},
                        {% endif %}
                      {% endfor %} 发布
                  {% else %}
                    由 {{ post.author }} 发布
                  {% endif %}
                </span>
              </div>
          {% endfor %}
        </div>
      </div>

      <div class="span-8 last">
        <div id="right_content">
          {{ content }}
        </div>
      </div>

    </div>
  </div>
  {% include footer.html %}
</div>
